[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11
    branch = v2.8
[submodule "3rdparty/google/benchmark"]
	path = 3rdparty/google/benchmark
	url = https://github.com/google/benchmark
[submodule "3rdparty/google/googletest"]
	path = 3rdparty/google/googletest
	url = https://github.com/google/googletest
